<div class="container">

  <%= render 'layouts/navbar' %>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="about-header">About Me</h1>
    <hr style="color:black;">
    <div class="left-portrait">
      <%= image_tag("Darin.JPG", class: "img-circle") %>
    </div>
    <div class="right-info">
      <p class="lead">Hey there, my name is Darin Haener. In a nutshell
        I'm a husband, dad, web developer, software developer, runner,
        cyclist, and small-time gardener. Not much else to say other
        than that without getting long-winded, so check out the rest
        of the site!</p>
    </div>
  </div>

  <!-- Site footer -->
  <div class="footer">
    <p>Darin Haener, 2013</p>
  </div>

</div> <!-- /container -->