<%= render 'layouts/navbar' %>

<div class="container">  
  <div class="jumbotron">
    <div class="left-portrait">
      <%= image_tag("beer-icon.png", class: "img-circle beer-pic") %>
    </div>
    <div class="right-info">
      <h1>Brewing Tool Projects</h1>
    </div>
    <hr style="color:black;">
    <span class="glyphicon glyphicon-download-alt glyphicon-brew pull-left"></span>
    <a href = "assets/files/BJsCalculatorSetup.rar" class="brewlink">
      BJ's Calculator Setup</a>
      <ul class="brew-list"><li class="brew-desc">
        <span class="glyphicon glyphicon-info-sign glyphicon-desc pull-left pull-down"></span>
          Unrar this puppy and run the setup file to install a 
          multi-faceted brewing calculator that contains a recipe database.<br />
          <span style="color:red">Warning: Database is Jet 4.0, so
            if you don't have that installed, it won't store any data, but
            the calculator will still work.</span>
      </li></ul>
    <span class="glyphicon glyphicon-download-alt glyphicon-brew pull-left"></span>
    <a href = "assets/files/IBU_Calculator_pH.xlsm" class="brewlink">Darin's IBU Calculator</a>
      <ul class="brew-list"><li class="brew-desc">
        <span class="glyphicon glyphicon-info-sign glyphicon-desc pull-left pull-down"></span>
        An IBU calculator that has many variables. It also includes
        my own utilization formula that I developed using a TON of real
        brewery data and laboratory analysis. It is in my opinion, the
        most accurate utilization formula out there.</li></ul>
    <span class="glyphicon glyphicon-download-alt glyphicon-brew pull-left"></span>
    <a href = "assets/files/Darins_Water_Treatment_Worksheet.xlsx" class="brewlink">Darin's Water Treatment Worksheet</a>
      <ul class="brew-list"><li class="brew-desc">
        <span class="glyphicon glyphicon-info-sign glyphicon-desc pull-left pull-down"></span>
        A water treatment worksheet that allows you to fine tune your
        brewing water to match any of the world's famous brewing waters! 
        Hint: Kettle volume is expressed in gallons and all of the salt
        additions are in grams.</li></ul>
    <span class="glyphicon glyphicon-download-alt glyphicon-brew pull-left"></span>
    <a href = "assets/files/Wort_Agar_Worksheet.xlsx" class="brewlink">Darin's Wort Agar Worksheet</a>
      <ul class="brew-list"><li class="brew-desc">
        <span class="glyphicon glyphicon-info-sign glyphicon-desc pull-left pull-down"></span>
        A simple and scalable worksheet that allows you to quickly
        calculate the ingredients needed to make the perfect agar at the
        perfect gravity for growing yeast!</li></ul>
    <span class="glyphicon glyphicon-download-alt glyphicon-brew pull-left"></span>
    <a href = "assets/files/Orange_Soda_Worksheet.xls" class="brewlink">Orange Soda Worksheet</a>
      <ul class="brew-list"><li class="brew-desc">
        <span class="glyphicon glyphicon-info-sign glyphicon-desc pull-left pull-down"></span>
        A simple and scalable worksheet that allows you to quickly
        calculate needed ingredients for a batch of delicious orange cream
        soda! It also allows you to quickly and easily change the 
        proportions of the recipe (though I'm not sure why you would, it's
        delicious!)</li></ul>
    <span class="glyphicon glyphicon-download-alt glyphicon-brew pull-left"></span>
    <a href = "assets/files/Root_Beer_Recipe.xlsx" class="brewlink">Root Beer Worksheet</a>
      <ul class="brew-list"><li class="brew-desc">
        <span class="glyphicon glyphicon-info-sign glyphicon-desc pull-left pull-down"></span>
        Pretty much the same as above, but instead it's for, you 
        guessed it, Root Beer!</li></ul>
  </div>
</div>

<!-- Site footer -->
<div class="footer">
  <p>Darin Haener, 2013</p>
</div>
