<div class="container">

  <%= render 'layouts/navbar' %>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="about-header">Contact Me</h1>
    <hr style="color:black;">
    <div class="left-portrait">
      <%= image_tag("Darin.JPG", class: "img-circle") %>
    </div>
    <div class="right-info">
      <p class="lead">If you'd like to contact me regarding my projects,
        my hobbies, or anything in general please feel free to email me
        at <a href="mailto:dphaener@gmail.com">dphaener@gmail.com</a>.</p>
    </div>
  </div>

  <!-- Site footer -->
  <div class="footer">
    <p>Darin Haener, 2013</p>
  </div>

</div> <!-- /container -->