<div class="container">

  <%= render 'layouts/navbar' %>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>New Project!</h1>
    <p class="lead">I am excited to announce that I am currently working on a new project!
      It's called PhotoFriends and it will be somewhat of a spinoff of Facebook, Twitter,
      and Instagram, but with more of a private, family oriented feel to it. The
      first alpha release is available, click below to check it out!</p>
    <p>
      <a href="http://photofriends.herokuapp.com" class="btn btn-lg btn-success" 
        disabled="disabled">Check it out!</a>
    </p>
  </div>

 <div class="row">
  <div class="col-lg-4">
    <h2>dphBlog</h2>
    <p>My personal blog, which contains musings on open source software, 
      politics, and other ramblings.....</p>
    <p><a class="btn btn-primary" href="/blog">Check it out! &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Thrive Nutrition and Fitness</h2>
    <p>A fitness and nutrition website that I started when I had high
      hopes of opening a company with the same name and ideals.  Of
      course, in my true style I only spent time creating the website
      because that's really what I love to do. Created with Drupal,
      I used mostly plugin modules other people had written, but the
      Nutrition Tracker portion (only available to logged in users) was
      written by yours truly....</p>
    <p><a class="btn btn-primary" href="/thrive">Check it out! &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Brewing Tools</h2>
      <p>Back in my former life, I was a professional brewer, and as I
        always do, found a way to work programming and complex spreadsheet
        development into my life and career. This is just a page of 
        downloads that include spreadsheets, and software that I have 
        written along the way....</p>
      <p><a class="btn btn-primary" href="/brewtools">Check it out! &raquo;</a></p>
    </div>
  </div>
  <!-- Site footer -->
  <div class="footer">
    <p>Darin Haener, 2013</p>
  </div>

</div> <!-- /container -->